{% extends "template.html" %}
{% block conteudo %}
    <section class="site-section py-lg">
      <div class="container">
        
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <h1 class="mb-4">404</h1>

            <div class="post-content-body">
              <p> The page you we're looking got Lost .-.</p>
            <div class="row mb-5">
              <div class="col-md-12 mb-4 element-animate">
                <img src="https://fthmb.tqn.com/OO7CD06NAdoIwv71DgUgBiTd4ps=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg" alt="404" class="img-fluid">
              </div>
            </div>
            </div>

            <div class="pt-5">
              <p>Categories:  <a href="#">not found</a></p>
            </div>
          </div>
          {% endblock %}